#pdf-view .row{display:flex}#pdf-view h1{font-family:'Stardos Stencil', cursive;font-size:1.25rem;font-weight:bold}#pdf-view .company-detail{text-align:left}#pdf-view .company-detail div{display:block}#pdf-view .recipient-detail{text-align:right}#pdf-view .recipient-detail h1{padding-top:10rem}#pdf-view .date{text-align:right}#pdf-view .right{position:relative;display:block;width:500px;text-align:right}#pdf-view .bold{font-weight:bold;width:500px}#pdf-view .amount-right{padding-left:10rem;text-alight:right}
