.gallery-items {
    position: relative;

    display: flex;

    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    display: inline-block;

    -webkit-transition: height 500ms ease;
         -o-transition: height 500ms ease;
            transition: height 500ms ease;
    vertical-align: top;
}

.gallery-expander {
    position: absolute;
    right: 0;
    left: 0;

    overflow: hidden;

    max-height: 0;

    -webkit-transition: max-height 500ms ease;
         -o-transition: max-height 500ms ease;
            transition: max-height 500ms ease;

    border-radius: 10px;
}

.gallery-contents {
    position: relative;
}

.gallery-contents:after {
    position: absolute;
    bottom: 0;
    left: 50%;

    display: block;

    width: 0;
    height: 0;

    content: '';
    -webkit-transition: border-bottom-width 500ms ease;
         -o-transition: border-bottom-width 500ms ease;
            transition: border-bottom-width 500ms ease;

    border-right: 10px solid transparent;
    border-bottom-width: 0;
    border-bottom-style: solid;
    border-left: 10px solid transparent;
}

.gallery-item.active .gallery-contents:after {
    border-bottom-width: 10px;
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;

    text-align: center;
}

.gallery-item {
    width: 25%;
    padding-right: 5px;
    padding-left: 5px;
}

.gallery-item .thumbnail {
    position: relative;

    overflow: hidden;

    cursor: pointer;
}

.gallery-item .thumbnail > img {
    position: absolute;
    top: 50%;

    max-width: 300px;
    margin-top: -300px;
}

.gallery-contents:after {
    border-bottom-color: #fff;
}

.gallery-expander {
    background: #fff;
    .schedule-section {
        font-size: 14px;
    }
}

.gallery-expander-contents {
    display: flex;
    .col {
        padding-right: 0;
        padding-left: 0;

        text-align: left;
        img {
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }
    .title {
        font-size: 1.5rem;
    }
    .title,
    .contents {
        text-align: left;
    }
    .icon-section {
        display: inline-flex;

        border-right: 1px solid #efefef;

        justify-content: center;
        align-items: center;
        span {
            font-size: 18rem;

            display: inline-flex;

            color: red;
        }
    }
}

@media (min-width: 640px) and (max-width: 999px) {
    .gallery-expander-contents {
        width: 640px;
    }
}

@media (max-width: 639px) {
    .gallery-expander-contents {
        width: 100%;
    }
}

.gallery-expander-contents:after {
    display: table;
    clear: both;

    content: '';
}

.gallery-expander-contents > div.col {
    float: left;

    width: 480px;
}

@media (min-width: 640px) and (max-width: 999px) {
    .gallery-expander-contents > div.col {
        width: 310px;
    }
}

@media (max-width: 639px) {
    .gallery-expander-contents > div.col {
        float: none;

        width: auto;
        padding: 25px 20px 0;
    }
}

.gallery-expander-contents > div.col + div.col {
    width: 100%;
    padding: 2rem;
}

@media (min-width: 640px) and (max-width: 999px) {
    .gallery-expander-contents > div.col + div.col {
        margin-left: 20px;
    }
}

@media (max-width: 639px) {
    .gallery-expander-contents > div.col + div.col {
        margin-left: 0;
    }
}

.gallery-expander-contents div.close {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 5px;

    cursor: pointer;
}

.gallery-expander-contents div.contents {
    font-size: 14px;

    padding: 10px 0;
}

.gallery-expander-contents div.image > img {
    display: block;

    width: 100%;
}

.imagelistexpander-items {
    font-size: 0;
}

.imagelistexpander-item {
    display: inline-block;

    -webkit-transition: height 500ms ease;
         -o-transition: height 500ms ease;
            transition: height 500ms ease;
    vertical-align: top;
}

.imagelistexpander-expander {
    position: absolute;
    right: 0;
    left: 0;

    overflow: hidden;

    max-height: 0;

    -webkit-transition: max-height 500ms ease;
         -o-transition: max-height 500ms ease;
            transition: max-height 500ms ease;
}

.imagelistexpander-contents {
    position: relative;
}

.imagelistexpander-contents:after {
    position: absolute;
    bottom: 0;
    left: 50%;

    display: block;

    width: 0;
    height: 0;
    margin-left: -30px;

    content: '';
    -webkit-transition: border-bottom-width 500ms ease;
         -o-transition: border-bottom-width 500ms ease;
            transition: border-bottom-width 500ms ease;

    border-right: 30px solid transparent;
    border-bottom-width: 0;
    border-bottom-style: solid;
    border-left: 30px solid transparent;
}

.imagelistexpander-item.active .imagelistexpander-contents:after {
    border-bottom-width: 30px;
}
