@import 'style';
@import 'grid';
@import 'user';
@import 'pricing';
@import 'aos';

#fd-main {
    .slider-container {
        position: relative;

        height: calc(100vh - 70px);
        margin: 0;
        padding: 0;
        .text-center {
            position: absolute;
            z-index: 1;

            display: flex;

            width: 100%;
            height: 100%;

            align-items: center;
            justify-content: center;
        }
        .img-container {
            height: calc(100vh - 70px);

            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
        }
        .slick-dots {
            bottom: 15px;
        }
    }
    #features,
    #pricing,
    #team {
        border-bottom: 1px solid rgba(255, 255, 255, .2);
        h2 {
            text-transform: uppercase;
        }
    }
    #header-sticky-wrapper .nav-menu a {
        text-transform: uppercase;
    }
    #header {
        .nav-menu a {
            font-family: 'Stardos Stencil', cursive, Helvetica, Arial, sans-serif !important;
        }

        .social-nav a {
            font-size: .95rem;

            border-radius: 30px;
        }
    }
    #features {
        background: #000;
        h2 {
            color: #fff;
        }
        .schedule-section {
            table tr:first-child th {
                border-top: 0;
            }
            table td {
                padding: .45rem;
            }
        }
        .gallery-item {
            padding-right: 5px;
            padding-left: 5px;
            h3 {
                font-size: 1.25rem;

                margin-top: 1rem;
            }
        }
        .card {
            padding: 1rem;

            color: #fff;
            border-radius: 10px;
            background: #e3000e;

            .feature-icon {
                font-size: 10rem;

                transition: transform .2s;
            }
            &:hover {
                .feature-icon {
                    transform: scale(1.025);

                    color: rgba(255, 255, 255, .75);
                }
                h3 {
                    color: rgba(255, 255, 255, .75);
                }
            }
        }
        .btn-container {
            margin-top: 2rem;

            text-align: right;
            a {
                font-size: .85rem;

                margin-left: .5rem;
                padding: .5rem 1rem;

                color: #e3000e;
                border: 1px solid #e3000e;
                border-radius: 30px;
            }
        }
        .video-container {
            position: absolute;
            span {
                font-size: 1.25rem;
                font-weight: bold;

                padding: .85rem;

                color: #e3000e;
                border: 1px solid #e3000e;
                border-radius: 50%;
                &:hover {
                    font-weight: normal;
                    color: #fff;
                    background: #e3000e;
                }
            }
        }
    }
    #pricing {
        background: #000;
        h2 {
            color: #fff;
        }
        .cd-pricing-header {
            border: 1px solid rgba(255, 255, 255, .5);
            border-bottom: 0;
            background: #e3000e;
            .cd-price,
            .cd-currency,
            .cd-value,
            .cd-duration {
                color: #fff;
            }
        }
        .cd-pricing-features {
            color: #fff;
            border: 1px solid rgba(255, 255, 255, .5);
            border-top: 0;
            border-bottom: 0;
            background: #000;
            li {
                font-size: .95rem;

                width: 100%;

                color: rgba(255, 255, 255, .75);
                border-bottom: 1px solid rgba(255, 255, 255, .5);
                &:last-child {
                    border-bottom: 0;
                }
            }
            .red-text {
                font-family: 'Stardos Stencil', cursive, Helvetica, Arial, sans-serif !important;
                font-size: 1.15rem;

                padding: 10px;

                color: #e3000e;
                background: #fff;
            }

            .empty-row {
                display: none;
            }
        }
        .cd-pricing-footer {
            padding: 0;

            border-radius: 0 0 10px 10px;
            a {
                font-weight: 500;

                letter-spacing: 1px;

                border: 1px solid rgba(255, 255, 255, .5);
                border-top: 0;
                border-radius: 0 0 10px 10px;
                &:hover {
                    color: rgba(255, 255, 255, .5);
                }
            }
        }
    }
    #team {
        background: #000;
        h2 {
            color: #fff;
        }
        .card {
            padding: 5px;

            border-radius: 10px;
            background-color: transparent;
            p {
                font-size: 1rem;
                font-weight: 300;

                padding: 0;
            }
            .social-nav a {
                font-size: 1.5rem;
            }
            img {
                border-radius: 10px 10px 0 0;
            }
        }
        .card-title-wrap {
            padding: 15px 5px;

            text-align: center;

            border-radius: 0 0 10px 10px;
            .card-title {
                font-size: 1.25rem;
            }
            .trainings {
                font-size: .8rem;
                font-weight: 500;

                color: rgba(255, 255, 255, .75);
                span:not(:last-child):after {
                    padding-left: 3px;

                    content: '|';
                }
            }
        }
        .team-over {
            font-size: 1.15rem;
            font-weight: 500;

            padding: 20px 10px;

            color: #fff;
            .social-nav {
                position: absolute;
                bottom: 6rem;
                left: 0;

                width: 100%;
            }

            .prize-list {
                font-size: 1rem;
                font-weight: 400;

                margin-top: 1rem;

                 > span {
                    font-size: .8rem;

                    display: block;

                    opacity: .75;
                    &:not(:last-child):after {
                        font-weight: 200;

                        position: relative;

                        display: block;

                        width: 2rem;
                        margin: 0 auto;
                        margin-top: 5px;
                        margin-bottom: 2px;

                        content: '';

                        border-bottom: 1px solid #fff;
                    }
                }
            }
        }
    }
    #contact {
        padding-bottom: 25px;

        background: #000;
        .wrapper {
             > div {
                padding-bottom: 85px;
            }
        }
        .form-section {
            padding: 0 2rem;

            background: #000;
            .help-block {
                font-size: .85rem;

                padding-top: 5px;
                padding-left: 1rem;

                color: rgba(255, 255, 255, .25);
            }
            h2 {
                text-transform: uppercase;
            }
            .form-group input {
                border-radius: 30px;
            }
            .form-group textarea {
                border-radius: 10px;
            }

            button[type='submit'] {
                font-family: 'Lato', sans-serif;
                font-size: .95rem;
                font-weight: 300;

                padding: 5px 30px;

                border-radius: 30px;
            }

            ::-webkit-input-placeholder {
                color: rgba(255, 255, 255, .25);
            }
        }
        .copyright {
            font-size: .75rem;

            padding: 1rem;

            color: rgba(255, 255, 255, .5);
            border-top: 1px solid rgba(255, 255, 255, .25);
             > div {
                width: 100%;

                text-align: center;
                a {
                    color: #e3000e;
                }
            }
        }
        .detail-section {
             > .row {
                p {
                    font-size: .95rem;

                    margin-bottom: 0;

                    color: rgba(255, 255, 255, .75);
                }
                strong {
                    text-transform: uppercase;
                }
                a {
                    color: rgba(255,255,255,.75);
                    &:hover {
                        text-decoration: underline !important;
                    }
                }
            }
            .map {
                height: 75%;
                margin-right: 0;
                margin-left: 0;
                #map {
                    border-radius: 10px;

                    .gm-style-cc {
                        display: none;
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {
        .row {
            margin-right: 0;
            margin-left: 0;
        }
        .block {
            padding-right: 30px;
            padding-left: 30px;
        }
        #features {
            .gallery-items {
                .gallery-item {
                    width: 100%;
                }
                .gallery-expander-contents .icon-section {
                    display: none;
                }
                .gallery-contents:after {
                    bottom: -1px;
                }
                .gallery-expander-contents > div.col + div.col {
                    padding: 1rem;
                }
                .btn-container a {
                    font-size: .75rem;

                    margin-left: .25rem;
                    padding: .4rem .5rem;
                }
            }
        }
        #team {
            .col-sm-3 {
                padding: 15px;
            }
        }
        #contact {
            .container > .row {
                flex-direction: column-reverse;
            }
        }
    }
}
