/* -------------------------------- 

Main Components 

-------------------------------- */

.cd-header {
    line-height: 170px;

    position: relative;

    height: 100px;
}

.cd-header h1 {
    font-size: 2.2rem;

    text-align: center;

    color: #fff;
}

@media only screen and (min-width: 768px) {
    .cd-header {
        line-height: 280px;

        height: 160px;
    }
    .cd-header h1 {
        font-size: 3.6rem;
        font-weight: 300;
    }
}

@media only screen and (min-width: 768px) {
    .cd-pricing-container.cd-full-width {
        width: 100%;
        max-width: none;
    }
}

.cd-pricing-list > li {
    position: relative;

    margin-bottom: 1em;

    border-radius: 10px;
    /* Firefox bug - 3D CSS transform, jagged edges */
    outline: 1px solid transparent;
    background-color: #fff;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.cd-pricing-list > li::after {
    position: absolute;
    top: 0;
    right: 0;

    width: 50px;
    height: 100%;
    /* subtle gradient layer on the right - to indicate it's possible to scroll */

    content: '';
    pointer-events: none;
    // background: -webkit-linear-gradient(right, #fff, rgba(255, 255, 255, 0));
    // background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
}

.cd-pricing-list > li.is-ended::after {
    /* class added in jQuery - remove the gradient layer when it's no longer possible to scroll */
    display: none;
}

@media only screen and (min-width: 768px) {
    .cd-pricing-list:after {
        display: table;
        clear: both;

        content: '';
    }
    .cd-pricing-list > li {
        float: left;

        width: 33.3333333333%;
    }
    .cd-pricing-list > li::before {
        position: absolute;
        z-index: 6;
        top: 50%;
        bottom: auto;
        left: -1px;

        width: 1px;
        height: 50%;

        content: '';
        -webkit-transform: translateY(-50%);
           -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
             -o-transform: translateY(-50%);
                transform: translateY(-50%);

        background-color: #b1d6e8;
    }
    .cd-pricing-list > li::after {
        /* hide gradient layer */
        display: none;
    }
    .cd-pricing-list > li.cd-popular {
        box-shadow: inset 0 0 0 3px #e97d68;
    }
    .cd-pricing-list > li.cd-popular::before {
        /* hide table separator for .cd-popular table */
        display: none;
    }
    .cd-pricing-list > li.cd-popular + li::before {
        /* hide table separator for tables following .cd-popular table */
        display: none;
    }
    .cd-has-margins .cd-pricing-list > li,
    .cd-has-margins .cd-pricing-list > li.cd-popular {
        box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    }
    .cd-secondary-theme .cd-pricing-list > li {
        background: #3aa0d1;
        background: -webkit-linear-gradient(bottom, #3aa0d1, #3ad2d1);
        background:         linear-gradient(to top, #3aa0d1, #3ad2d1);
    }
    .cd-secondary-theme .cd-pricing-list > li.cd-popular {
        background: #e97d68;
        background: -webkit-linear-gradient(bottom, #e97d68, #e99b68);
        background:         linear-gradient(to top, #e97d68, #e99b68);
        box-shadow: none;
    }
    .cd-pricing-list:nth-of-type(1)::before {
        /* hide table separator for the first table */
        display: none;
    }
    .cd-has-margins .cd-pricing-list > li {
        float: left;

        width: 32.3333333333%;
        margin-right: 1.5%;

        border-radius: 10px;
    }
    .cd-has-margins .cd-pricing-list > li:last-of-type {
        margin-right: 0;
    }
    .cd-has-margins .cd-pricing-list > li::before {
        display: none;
    }
}

@media only screen and (min-width: 1500px) {
    .cd-full-width .cd-pricing-list > li {
        padding: 2.5em 0;
    }
}

@media only screen and (min-width: 768px) {
    .cd-popular .cd-pricing-wrapper > li::before {
        /* hide table separator for .cd-popular table */
        display: none;
    }
}

.cd-pricing-header h2 {
    font-weight: 700;

    margin-bottom: 3px;

    text-transform: uppercase;
}

.cd-popular .cd-pricing-header {
    background-color: #e97d68;
}

.cd-pricing-header {
    height: auto;
    padding: 1.9em .9em 1.6em;

    text-align: center;
    pointer-events: auto;

    color: #173d50;
    border-radius: 10px 10px 0 0;
    background-color: transparent;
}
.cd-popular .cd-pricing-header {
    color: #e97d68;
    background-color: transparent;
}
.cd-secondary-theme .cd-pricing-header {
    color: #fff;
}
.cd-pricing-header h2 {
    font-size: 1.15rem;

    height: 4rem;

    letter-spacing: 2px;
}

.cd-currency,
.cd-value {
    font-size: 3rem;
    font-weight: 300;
}

.cd-duration {
    font-size: 1.3rem;
    font-weight: 700;

    text-transform: uppercase;

    color: #8dc8e4;
}

.cd-popular .cd-duration {
    color: #f3b6ab;
}

.cd-duration::before {
    margin-right: 2px;

    content: '/';
}

@media only screen and (min-width: 768px) {
    .cd-value {
        font-size: 3rem;
        font-weight: 300;
    }
    .cd-currency,
    .cd-duration {
        color: rgba(23, 61, 80, .4);
    }
    .cd-popular .cd-currency,
    .cd-popular .cd-duration {
        color: #e97d68;
    }
    .cd-secondary-theme .cd-currency,
    .cd-secondary-theme .cd-duration {
        color: #2e80a7;
    }
    .cd-secondary-theme .cd-popular .cd-currency,
    .cd-secondary-theme .cd-popular .cd-duration {
        color: #ba6453;
    }
    .cd-currency {
        font-size: 1.25rem;
        font-weight: 700;

        display: inline-block;

        margin-top: 10px;

        vertical-align: top;
    }
    .cd-duration {
        font-size: 1rem;
    }
}

.cd-pricing-body {
    overflow-x: auto;

    -webkit-overflow-scrolling: touch;
}

@media only screen and (min-width: 768px) {
    .cd-pricing-body {
        overflow-x: visible;
    }
}

.cd-pricing-features:after {
    display: table;
    clear: both;

    content: '';
}

.cd-pricing-features li {
    font-size: 1.2rem;

    float: left;
    overflow: hidden;

    width: 100px;
    padding: 1.6em 1em;

    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cd-pricing-features em {
    font-weight: 600;

    display: block;

    margin-bottom: 5px;
}

@media only screen and (min-width: 768px) {
    .cd-pricing-features {
        width: auto;
    }
    .cd-pricing-features li {
        float: none;

        width: auto;
        padding: 1em;
    }
    .cd-popular .cd-pricing-features li {
        margin: 0 3px;
    }
    .cd-pricing-features li:nth-of-type(2n + 1) {
        background-color: rgba(23, 61, 80, .06);
    }
    .cd-pricing-features em {
        display: inline-block;

        margin-bottom: 0;
    }
    .cd-has-margins .cd-popular .cd-pricing-features li,
    .cd-secondary-theme .cd-popular .cd-pricing-features li {
        margin: 0;
    }
    .cd-secondary-theme .cd-pricing-features li {
        color: #fff;
    }
    .cd-secondary-theme .cd-pricing-features li:nth-of-type(2n + 1) {
        background-color: transparent;
    }
}

.cd-pricing-footer::after {
    position: absolute;
    top: 50%;
    right: 1em;
    bottom: auto;

    width: 20px;
    height: 20px;
    /* right arrow visible on mobile */

    content: '';
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}

@media only screen and (min-width: 768px) {
    .cd-pricing-footer {
        position: relative;

        height: auto;
        padding: 1.8em 0;

        text-align: center;
    }
    .cd-pricing-footer::after {
        /* hide arrow */
        display: none;
    }
    .cd-has-margins .cd-pricing-footer {
        padding-bottom: 0;
    }
}

.cd-select {
    position: relative;
    z-index: 1;

    display: block;
    /* hide button text on mobile */
    overflow: hidden;

    height: 100%;

    white-space: nowrap;
    text-indent: 100%;

    color: transparent;
}

.cd-select {
    position: static;

    display: inline-block;

    height: auto;
    padding: 1.3em 3em;

    text-indent: 0;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #fff;
    border-radius: 2px;
    background-color: #e3000e;
}

.cd-has-margins .cd-select {
    display: block;

    border-radius: 0 0 4px 4px;
}
@media only screen and (min-width: 768px) {
    .no-touch .cd-select:hover {
        background-color: #112e3c;
    }
    .cd-popular .cd-select {
        background-color: #e3000e;
    }
    .no-touch .cd-popular .cd-select:hover {
        background-color: #fff;
    }
    .cd-secondary-theme .cd-popular .cd-select {
        background-color: #e3000e;
    }
    .no-touch .cd-secondary-theme .cd-popular .cd-select:hover {
        background-color: #112e3c;
    }
}
