html,
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;

    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
div.title,
div.cd-price,
address > strong {
    font-family: 'Stardos Stencil', cursive, Helvetica, Arial, sans-serif !important;
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 30px;

    margin-bottom: 65px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}


/* ==================================================
  General
  ================================================== */

a {
    -webkit-transition: .5s;
         -o-transition: .5s;
            transition: .5s;
}

#header-sticky-wrapper .nav-menu a {
    font-family: 'Stardos Stencil', cursive, Helvetica, Arial, sans-serif;
}


/* ==================================================
  Elements
  ================================================== */

.btn {
    font-family: 'Stardos Stencil', cursive, Helvetica, Arial, sans-serif;
    font-weight: 800;

    padding: 15px 45px;

    color: #fff;
    border-radius: 50px;
    background-color: #e3000e;
}

.btn:hover {
    color: #fff;
    background-color: #e04f00;
}

.btn:focus {
    color: #fff;
}

.btn-ghost {
    border: 3px solid #fff;
    background-color: transparent;
}

.btn-ghost:hover {
    color: #e3000e;
    background-color: #fff;
}

section {
    padding: 85px 0;
}

.card {
    position: relative;

    overflow: hidden;

    margin: 0;
    padding: 0;

    border: 0;
    border-radius: 0;
}

a:hover {
    text-decoration: none !important;
}

.scrolltop {
    font-size: 24px;

    position: fixed;
    right: 15px;
    bottom: 15px;

    display: none;

    width: 42px;
    height: 42px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background: #e3000e;
}

.scrolltop:hover,
.scrolltop:active,
.scrolltop:focus {
    opacity: .75;
    color: #fff !important;
}


/* ==================================================
  Hero Styling
================================================== */

.hero {
    position: relative;

    display: table;

    width: 100%;
    height: calc(100vh - 70px);
    padding: 150px 0;

    color: #fff;
    background-size: cover;
    &:after {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';
    }
    .container {
        position: relative;
        z-index: 1;

        display: table-cell;

        width: 100%;

        text-align: center;
        vertical-align: middle;
    }
    .hero-brand {
        display: inline-block;

        margin-bottom: 75px;
    }
    .hero-brand:hover {
        opacity: .75;
    }
    .tagline {
        font-family: 'Stardos Stencil', cursive, Helvetica, Arial, sans-serif;
        font-size: 26px;

        margin: 45px 0 75px 0;

        color: #fff;
    }
}


/* ==================================================
  Header Styling
================================================== */

#header {
    height: 70px;

    background: #e3000e;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    #logo {
        margin: 14px 25px 0 0;
        h1 {
            font-family: 'Stardos Stencil', cursive, Helvetica, Arial, sans-serif;
            font-size: 36px;
            font-weight: 700;
            line-height: 1;

            margin: 0;
            padding: 2px 0;

            letter-spacing: 3px;
            text-transform: uppercase;
        }
        img {
            max-height: 40px;
            margin: 0;
            padding: 0;
        }
        h1 a,
        h1 a:hover {
            color: #fff;
        }
    }
}

@media (max-width: 768px) {
    #header {
        height: 50px;
    }
    #header #logo {
        margin: 10px 0 0 0;
    }
    #header #logo h1 {
        font-size: 26px;

        padding: 2px 0;
    }
    #header #logo img {
        max-height: 30px;
    }
}

#header {
    .social-nav {
        margin-top: 23px;
    }
    .social-nav a {
        margin-left: 5px;
        padding: 8px 20px;

        color: #fff;
        border: 1px solid #fff;
    }
    .social-nav a:hover {
        color: rgba(255, 255, 255, .75);
    }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/* Nav Menu Essentials */

.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;

    list-style: none;
}

.nav-menu ul {
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;

    display: none;
}

.nav-menu li {
    position: relative;

    white-space: nowrap;
}

.nav-menu > li {
    float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}


/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
    padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;

    position: absolute;
    right: 15px;

    content: '\f107';
}

.sf-arrows ul .sf-with-ul:after {
    content: '\f105';
}


/* Nav Meu Container */

#nav-menu-container {
    margin: 0;
}

@media (max-width: 768px) {
    #nav-menu-container {
        display: none;
    }
}


/* Nav Meu Styling */

.nav-menu a {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;

    display: inline-block;

    padding: 22px 15px 0 0;

    text-decoration: none;

    color: #fff;
    outline: none;
}

.nav-menu a:hover,
.nav-menu li:hover > a,
.nav-menu .menu-active > a {
    color: rgba(255, 255, 255, .75);
}

.nav-menu ul {
    margin: 4px 0 0 15px;

    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .08);
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, .08);
}

.nav-menu ul li {
    border-top: 1px solid #f4f4f4;
    background: #fff;
}

.nav-menu ul li:first-child {
    border-top: 0;
}

.nav-menu ul li:hover {
    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    background: #e3000e;
}

.nav-menu ul li a {
    padding: 10px 15px;

    -webkit-transition: none;
         -o-transition: none;
            transition: none;

    color: #333;
}

.nav-menu ul li a:hover {
    color: #fff;
}

.nav-menu ul ul {
    margin: 0;
}


/* Mobile Nav Toggle */

#mobile-nav-toggle {
    font-size: 24px;

    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;

    display: none;

    margin: 8px 10px 0 0;

    cursor: pointer;
    -webkit-transition: all .4s;
         -o-transition: all .4s;
            transition: all .4s;

    border: 0;
    outline: none;
    background: none;
}

#mobile-nav-toggle i {
    color: #fff;
}

@media (max-width: 768px) {
    #mobile-nav-toggle {
        display: inline;
    }
}


/* Mobile Nav Styling */

#mobile-nav {
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
    left: -260px;

    overflow-y: auto;

    width: 260px;
    padding-top: 18px;

    -webkit-transition: .4s;
         -o-transition: .4s;
            transition: .4s;

    background: rgba(0, 0, 0, .9);
}

#mobile-nav ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

#mobile-nav ul li {
    position: relative;
}

#mobile-nav ul li a {
    font-size: 16px;

    position: relative;

    display: block;
    overflow: hidden;

    width: 100%;
    padding: 10px 22px 10px 15px;

    text-decoration: none;

    color: #fff;
    outline: none;
}

#mobile-nav ul li a:hover {
    color: #fff;
}

#mobile-nav ul li li {
    padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
    position: absolute;
    z-index: 99;
    right: 0;

    padding: 15px;

    cursor: pointer;

    color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #e3000e;
}

#mobile-nav ul .menu-item-active {
    color: #e3000e;
}

#mobile-body-overly {
    position: fixed;
    z-index: 997;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .6);
}


/* Mobile Nav body classes */

body.mobile-nav-active {
    overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
    left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
}


/* ==================================================
  Stats Styling
================================================== */

.stats-row {
    margin-top: 65px;
}

.stats-col .circle {
    font-family: 'Stardos Stencil', cursive, Helvetica, Arial, sans-serif;
    font-weight: 500;

    position: relative;

    display: inline-block;

    width: 160px;
    height: 160px;
    padding: 55px 25px 0 25px;

    color: #666;
    border: 6px solid #e3000e;
    border-radius: 50%;
}

.stats-col .circle .stats-no {
    font-family: 'Stardos Stencil', cursive, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 70px;

    position: absolute;
    top: -25px;
    right: -15px;

    width: 70px;
    height: 70px;

    color: #fff;
    border-radius: 50%;
    background-color: #e04f00;
}


/* ==================================================
  Parallax Styling
  ================================================== */

.block {
    overflow: hidden;

    height: 490px;
    padding-top: 85px;

    color: #fff;
}

.block h2 {
    margin-bottom: 15px;

    text-transform: uppercase;
}

.block p {
    margin-bottom: 45px;

    color: #fff;
}


/* ==================================================
  Features Styling
  ================================================== */

.features {
    h2 {
        color: #e3000e;
    }
    .feature-col {
        padding-bottom: 10px;
         > div > div {
            display: table-cell;

            vertical-align: middle;
        }
        .feature-icon {
            font-size: 15rem;
            line-height: .75;
        }
    }
}


/* ==================================================
  Team Styling
  ================================================== */

.team {
    .row {
        justify-content: center;
    }
    h2 {
        color: #e3000e;
    }
    .card {
        padding: 1px;
    }
    .col-sm-3 {
        padding: 0;
    }
    .card > a {
        display: block;
    }
    .card img {
        width: 100%;
    }
    .card h4 {
        text-transform: uppercase;

        color: #fff;
    }
    .card p {
        font-size: 11px;

        margin: 0;
        padding: 0 35px;

        opacity: .75;
        color: #fff;
    }
    .card .social-nav a {
        font-size: 16px;

        margin: 0 4px;

        color: #fff;
    }
    .card .social-nav a:hover {
        opacity: .75;
    }
    .card:hover .team-over {
        visibility: visible;

        opacity: 1;
    }
    .card:hover .card-title-wrap {
        background-color: #e3000e;
    }
    .card:hover .card-title-wrap .card-title,
    .team .card:hover .card-title-wrap .card-text {
        color: #fff;
    }
    .team-over {
        position: absolute;
        top: 0;
        left: 0;

        visibility: hidden;

        width: 100%;
        height: 100%;
        padding-top: 45px;

        -webkit-transition: all .3s ease;
           -moz-transition: all .3s ease;
             -o-transition: all .3s ease;
                transition: all .3s ease;
        text-align: center;

        opacity: 0;
        background: rgba(0, 0, 0, .8);
    }
    .card-title-wrap {
        position: relative;
        z-index: 9;

        padding: 15px 25px;

        background-color: #e3000e;
    }
    .card-title-wrap .card-title {
        font-size: 24px;

        color: #fff;
    }
    .card-title-wrap .card-text {
        font-size: 18px;

        color: #fff;
    }
    .card-title-wrap .card-title,
    .card-title-wrap .card-text {
        font-family: 'Stardos Stencil', cursive, Helvetica, Arial, sans-serif;

        display: block;

        margin: 0;
    }
}


/* ==================================================
  Contact Section
  ================================================== */

#contact {
    .detail-section {
        padding-right: 0;
        padding-left: 0;
        #map {
            width: 100%;
            height: 100%;
        }
    }
    .info p {
        line-height: 24px;

        padding: 0 0 10px 50px;
    }
    h2 {
        color: #fff;
    }
    .info i {
        font-size: 32px;

        float: left;

        color: #e3000e;
    }
    .form #sendmessage {
        font-weight: 600;

        display: none;

        margin-bottom: 15px;
        padding: 15px;

        text-align: center;

        color: #e3000e;
        border: 1px solid #e3000e;
    }
    .form #errormessage {
        font-weight: 600;

        display: none;

        margin-bottom: 15px;
        padding: 15px;

        text-align: center;

        color: red;
        border: 1px solid red;
    }
    .form .validation {
        font-size: 13px;
        font-weight: 400;

        display: none;

        margin: 0 0 20px;

        color: red;
    }
    .form-section {
        color: #fff;
        background: #e3000e;
        .form-group {
            input,
            textarea {
                color: #fff;
                border: 1px solid rgba(255, 255, 255, .5);
                background: transparent;
            }
        }
        .form-control::placeholder {
            color: #fff;
        }
        button[type='submit'] {
            border: 1px solid #fff !important;
        }
    }
    .detail-section {
        color: #fff;
        background: #000;
    }
    .form button[type='submit'] {
        padding: 10px 24px;

        -webkit-transition: .4s;
             -o-transition: .4s;
                transition: .4s;

        color: #fff;
        border: 0;
        background: #e3000e;
    }
    .form #sendmessage.show,
    .form #errormessage.show,
    .form .show {
        display: block;
    }
    .form input,
    .form textarea {
        border-radius: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
}


/* ==================================================
  Footer Styling
  ================================================== */

.site-footer {
    padding: 0;

    background-color: #111;
}

.site-footer h2,
.site-footer p {
    color: #fff;
}

.site-footer p {
    line-height: 2.0925;

    opacity: .75;
}

.site-footer h2,
.site-footer .btn {
    margin-bottom: 25px;
}

.site-footer .social-nav a {
    opacity: .25;
    color: #fff;
}

.site-footer .social-nav a:hover {
    opacity: 1;
}

.site-footer .bottom {
    padding: 20px 0;

    background-color: #000;
}

.site-footer .bottom .list-inline,
.site-footer .bottom p {
    margin: 0;
}

.site-footer .bottom .list-inline {
    position: relative;
    top: 5px;
}

.site-footer .bottom .list-inline a {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;

    margin-right: 15px;

    color: #fff;
}

.site-footer .bottom .list-inline a:hover {
    color: #e3000e;
}

.site-footer .credits {
    color: #ddd;
}

.site-footer .credits a {
    color: #e3000e;
}


/* ==================================================
  Responsive Styling
  ================================================== */

@media (max-width: 61.9em) {
    section,
    .block,
    .cta {
        padding: 35px 0;
    }
    .features {
        padding-bottom: 5px;
    }
    p,
    .block p {
        margin: 0;
    }
    .hero-brand {
        margin-bottom: 35px;
    }
    .tagline {
        margin: 35px 0;
    }
    h1 {
        font-size: 32px;

        margin: 0;
    }
    h2,
    .tagline {
        font-size: 24px;
    }
    h2 {
        margin-bottom: 25px;
    }
    h3 {
        font-size: 14px;
    }
    .hero {
        padding: 75px 0;
    }
    .stats-col {
        margin-bottom: 25px;
    }
    .block {
        height: auto;
    }
    .feature-col {
        padding-bottom: 30px;
    }
    .portfolio-grid .card h3.card-title {
        font-size: 18px !important;
    }
    .portfolio-grid .card .card-text {
        font-size: 13px;
    }
    .team .team-over {
        padding-top: 20px;
    }
    .team .card .social-nav {
        margin-bottom: 15px;
        padding: 0;
    }
    .site-footer .social-nav {
        margin-bottom: 35px;
    }
    .site-footer .list-inline {
        padding-bottom: 15px;

        text-align: center;
    }
    .site-footer .list-inline li {
        display: inline-block;
    }
}
