#login-register {
    #nav-menu-container {
        display: flex;
        nav {
            position: absolute;
            bottom: 20px;


            &.menu-items {
                a {
                    font-family: 'Stardos Stencil', cursive, Helvetica, Arial, sans-serif;
                    font-size: 1rem;

                    text-transform: uppercase;
                }
            }

            &.action-items {
                right: 25px;
                a {
                    font-size: .85rem;

                    margin-left: 5px;
                    padding: 8px 20px;

                    color: #fff;
                    border: 1px solid #fff;
                    border-radius: 30px;
                }
            }
        }
    }

    > .row {
        height: 100vh;
    }

    .right-side,
    .left-side {
        display: inline-flex;

        align-items: center;
    }

    .left-side {
        position: relative;
        z-index: 1;

        width: calc(100% - 520px);

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &:before {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;

            display: block;

            width: 100%;
            height: 100%;

            content: '';

            opacity: .85;
            background: -webkit-linear-gradient(bottom, #e3000e, #000);
        }
    }
}
#user-section {
     > section {
        padding: 50px 0;
    }

    .row {
        justify-content: center;

        .panel {
            border-radius: 5px;
            .panel-heading {
                padding: 1rem;

                border-radius: 5px 5px 0 0;
            }

            .panel-body {
                padding: 2rem;
                .form-group {
                    margin-bottom: 1rem;
                }
                .gender-radio label {
                    margin-right: 1rem;
                    margin-bottom: 0;
                }
                input,
                label,
                select,
                .btn {
                    font-size: 14px;
                }
                .help-block {
                    font-size: 13px;

                    margin-top: 5px;
                    padding-left: .75rem;

                    color: #e3000e;
                }
            }

            .btn-container {
                margin-top: 1rem;
                .btn {
                    font-family: 'lato';
                    font-weight: 400;

                    margin-right: 15px;
                    margin-left: 15px;
                    padding: 10px;

                    border: 0;
                }
            }
        }

        h3 {
            margin-bottom: 0;

            text-align: center;

            color: #000;
        }

        p {
            font-size: 14px;

            margin-top: 1rem;
        }
    }
}
