@charset "UTF-8";

@font-face {
  font-family: "jdl-stack";
  src:url("fonts/jdl-stack.eot");
  src:url("fonts/jdl-stack.eot?#iefix") format("embedded-opentype"),
    url("fonts/jdl-stack.woff") format("woff"),
    url("fonts/jdl-stack.ttf") format("truetype"),
    url("fonts/jdl-stack.svg#jdl-stack") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "jdl-stack" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="jdls-"]:before,
[class*=" jdls-"]:before {
  font-family: "jdl-stack" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jdls-abdo-bag-work:before {
  content: "\e000";
}
.jdls-bo:before {
  content: "\e001";
}
.jdls-bo-pie-poin-enf:before {
  content: "\e002";
}
.jdls-boxe-anglaise:before {
  content: "\e003";
}
.jdls-cross-fight:before {
  content: "\e004";
}
.jdls-grappling:before {
  content: "\e005";
}
.jdls-karate-koshiki:before {
  content: "\e006";
}
.jdls-kick-box-girls:before {
  content: "\e007";
}
.jdls-kick-boxing:before {
  content: "\e008";
}
.jdls-libre:before {
  content: "\e009";
}
.jdls-mma:before {
  content: "\e00a";
}
.jdls-muay-thai:before {
  content: "\e00b";
}
.jdls-prep-physique:before {
  content: "\e00c";
}
.jdls-yoga:before {
  content: "\e00d";
}
.jdls-jiu-jitsu-bresilien-14:before {
  content: "\e00e";
}
