#fd-admin {
    .navbar-default {
        border-bottom: 2px solid rgba(0, 0, 0, .1);
        background-color: #191d23;
    }
    .card {
        box-shadow: none;
        .header {
            padding: 10px 15px 5px;

            border-radius: 5px 5px 0 0;
            background: #e3000e;
            h4 {
                color: #fff;
            }
            .title span {
                font-weight: 500;

                padding: 2px 5px;

                text-transform: initial;

                color: rgba(255,255,255,.65);
                border: 1px solid rgba(255,255,255,.5);
                border-radius: 5px;
            }
        }
    }
    .content {
        padding-bottom: 2rem;
        .row {
            margin-right: 0;
            margin-left: 0;
        }
        .week-days > ul {
            display: inline-flex;

            margin-bottom: 4rem;
            padding: 0;

            list-style-type: none;
            li {
                margin-right: 10px;
                &.active a {
                    border: 0;
                    background: #191d23;
                }
            }
            li .btn {
                padding: 5px 10px;

                border-width: 1px;
            }
        }
    }
    .main-panel {
        .header h4 {
            font-size: 1.15em;
            font-weight: 400;

            text-transform: uppercase;
        }
        .alert-success {
            border: 1px solid #28b062;
            border-radius: 5px;
            background-color: #2ecc71;
        }
        .custom-alert {
            color: #272d37;
            border: 1px solid;
            border-left: 5px solid;
            background: transparent;
            p {
                font-size: 14px;
            }
        }
    }

    .profile-wrapper,
    .address-wrapper,
    .subscription-wrapper,
    .training-wrapper
    .settings-wrapper,
    .payment-wrapper {
        a.btn {
            margin-top: 2rem;
            margin-right: 15px;
        }
    }

    .subscription-wrapper,
    .training-wrapper {
        form {
            margin-top: 2rem;
        }
    }

    .payment-wrapper {
        padding: 2rem;
        h4 {
            text-align: center;
        }
        .detail {
            margin-right: 5rem;
            margin-left: 5rem;
            padding: 2rem;

            border-radius: 5px;
            background: #efefef;
            box-shadow: 0 1px 2px rgba(0,0,0,.05), 0 0 0 1px rgba(63,63,68,.1);
            .row {
                padding-top: 1rem;
                padding-bottom: 1rem;

                border-bottom: 1px solid #ddd;
                .alert {
                    margin-left: 1rem;
                    padding: 2px 10px;

                    color: #444;
                }
                &.total {
                    font-weight: bold;

                    padding-top: 2rem;
                }
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
        .stripe-btn {
            margin-right: 2rem;
            margin-left: 5rem;
            padding: 2rem 15px;

            text-align: right;
        }
    }

    .profile-wrapper {
        #member-gender label {
            padding-right: 2rem;
        }
        a.btn {
            margin-top: 2rem;
            margin-right: 15px;
        }
    }

    .training-wrapper {
        padding: 2rem 5rem;
        &.special {
            border-top: 5px solid rgba(203, 203, 210, .15);
        }
        .training-tile {
            font-size: 1.5rem;

            padding: 1rem;

            text-align: center;
            span:before {
                font-size: 10rem;
            }
             > div {
                font-weight: 500;
            }
        }

        .row {
            display: flex;

            margin-bottom: 1rem;

            .left-column {
                height: 150px;
                padding: 0;

                text-align: center;

                color: #fff;
                background: #e3000e;
            }

            .right-column {
                padding-left: 4rem;

                border-top: 1px solid #dddd;
                background-color: rgba(203, 203, 210, .15);

                h4 {
                    font-size: 16px;
                    font-weight: 400;

                    margin-top: 10px;
                    margin-bottom: 5px;
                }

                .schedules-wrapper {
                    margin-bottom: 2rem;
                    .schedule-row {
                        display: flex;

                        align-items: center;
                        &.blocked-row {
                            color: #888;
                        }
                        &.unblocked-row {
                            label:before {
                                color: #333;
                            }
                        }
                         > div:not(:first-child) {
                            width: 15rem;
                        }
                         > div,
                         > span {
                            padding-right: 2rem;
                        }
                        .form-group {
                            width: 5rem;
                            margin-bottom: 0;
                            .checkbox {
                                margin-bottom: 0;
                                label:after {
                                    color: red;
                                }
                            }
                        }
                        .badge {
                            border-radius: 0;
                        }
                    }
                }
            }
        }
    }

    .subscription-wrapper {
        padding: 2rem;
        .alert {
            margin-right: 15px;
            margin-left: 15px;
        }
        &.special {
            border-top: 5px solid rgba(203, 203, 210, .15);
        }
        h2 {
            font-size: 2.5rem;

            margin-top: 0;
            margin-bottom: 5rem;

            text-align: center;
        }
        .row {
            display: flex;

            margin-bottom: 2rem;

            justify-content: center;
             > div {
                margin-right: 15px;
                margin-left: 15px;

                border-radius: 5px;
                background: #efefef;
                box-shadow: 0 1px 2px rgba(0, 0, 0, .05), 0 0 0 1px rgba(63, 63, 68, .1);
                h3 {
                    font-size: 1.5rem;
                    font-weight: 500;

                    margin-top: 10px;
                    margin-bottom: 20px;

                    text-align: center;
                    text-transform: uppercase;
                }
                ul {
                    padding-left: 0;

                    list-style-type: none;

                    text-align: center;
                    li {
                        display: flex;

                        padding: 1rem 0;

                        border-bottom: 1px solid #ddd;

                        justify-content: center;
                        &:last-child {
                            border: 0;
                        }

                        input {
                            margin-right: 1rem;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .invoice-wrapper {
        padding: 5rem;
    }

    .settings-wrapper {
        a.btn {
            margin-right: 15px;
            margin-left: 15px;
        }
    }
}
