#pdf-view {
    background: #000;
    .row {
        display: flex;
    }

    h1 {
        font-family: 'Stardos Stencil', cursive;
        font-size: 1.25rem;
        font-weight: bold;
    }

    .company-detail {
        text-align: left;
        div {
            display: block;
        }
    }

    .recipient-detail {
        text-align: right;
        h1 {
            padding-top: 10rem;
        }
    }

    .date {
        text-align: right;
    }

    .right {
        position: relative;

        display: block;

        width: 500px;

        text-align: right;
    }

    .bold {
        font-weight: bold;

        width: 500px;
    }

    .amount-right {
        padding-left: 10rem;

        text-alight: right;
    }
}
